@model Shop_Management.Models.Customer

@{
    ViewData["Title"] = "VerifyPassword";
}

<h1>VerifyPassword</h1><hr/>
<h3 class="text-warning"><strong class="text-black"> <u>Customer name </u> </strong> :- @Model.FullName</h3>
<form asp-action="VerifyPassword" method="post">
<div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input type="password" class="form-control" id="currentPassword" name="currentPassword" required />
    </div>
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-primary mt-2">Verify</button>
</form>


